<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/public/custom.css" rel="stylesheet" type="text/css">
<div id="navbar">
                <ul>
                    <li><a href="/api/users/logout" style="font-weight: bold"> Home </a></li>
            
                <ul id="navRight">
                    <li><a href="/api/users/me">  Details </a></li>
                    <li><a href="/api/photos"> Information </a></li>
                    <li><a href="/api/genres"> Gallery </a></li>
                    <li><a href="/api/customers"> Projects </a></li>
                    <li><a href="/api/movies"> Videos </a></li>
                    <li><a href="/api/login"> Login </a></li>
                </ul>
                </ul>
            </div>