<%include ./partials/header %>
    <title>Gallery</title>
    <style>

       
        #galleryTop {
            height: 350px;
            margin: 20px 30px;
        }

        #galleryBody {
            margin: 60px 30px;
            border-width: 1px;
            border-style: solid;
            border-color: #ccc;
        }

        #galleryTop img {
            width: 100%;
            height: 100%;
        }

        .galleryImages {
            width: auto;
            float:left;
            height: 300px;
            margin: 50px 25px;
            padding-left: 30px;
        }
        
       .galleryImages img {
            width: 350px;
            height: 300px;
            margin: 0 30px;
        }
    </style>
</head>
<body>
          <div id="galleryTop">
        <img src="/public/image/gallery.jpg" alt="gallery">
    </div>

    <h1 align="center">My Gallery</h1>
      <div id="galleryBody">
        <div class="galleryImages">
            <%if(image.length>0){ %>
                <%image.forEach(function(galleryImages){%>
                     <img src="/public/uploads/<%=galleryImages.imagename%>" alt="img1">
                     
               <% }) }%>
            
        </div>
   
        <div class="galleryImages">
            
            <img src="/public/image/img1.jpg" alt="img1">
        </div>
        <div class="galleryImages">
            <img src="/public/image/img2.jpg" alt="img1">
        </div>
        <div class="galleryImages">
            <img src="/public/image/img3.jpg" alt="img1">
        </div>  <div class="galleryImages">
            <img src="/public/image/img3.jpeg" alt="img1">
        </div>  <div class="galleryImages">
            <img src="/public/image/img1.jpg" alt="img1">
        </div> 
         <div class="galleryImages">
            <img src="img2.jpg" alt="img1">
        </div>
    </div>
    
</body>
</html>