<%include ./partials/header %>
    <title>Page Title</title>   
    <style>
/* about*/
        .myinfo
       {
          float:right;
          background-color: #D7DBDD  ;
          width:350px;
          height:400px;
          border:1px solid black;
          margin-left:10px;
          margin-right:20px;
          margin-top:10px;
          margin-bottom:10px;
          padding:10px;
          
       }
       #photo
       {
         padding:5px 23% 5px 20%;
         
          /* padding:5px 10px;*/
          /*padding:5px 8px 7px 7px;*/

       }
       .content
       {
           float :left;
           width:70%;
           margin:20px 20px;
           text-align:justify;
       }
     .sss
     {
         background-color:rgba(162, 217, 206,0.7)    ;
         height:600px;
         width:96%;
         margin-left:2%;
         margin-right:2%;
     }
      .links
      {
        height:100px;
        width:100%;
        float:left;
        clear:both;
      }
      .achievement
      {
       background-color:rgba(46, 64, 83,0.5);
       margin-left:2%;
       margin-right:2%;  
      color:white;
      padding:5px 5px;
      height:150px;
      overflow:auto;/* scroll, visible, hidden*/
      }
      ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
	background: transparent;  /* optional: just make scrollbar invisible */
	margin-left:20px;
}
/*about end*/
    </style>
</head>
<body>
    <div class="sss">
            <div class="content" >
                <h2 style="text-align:center;">Bio Graphy</h2>
                  Korotkevich was born in Gomel (Homiel), southeastern Belarus. His parents, Vladimir and Lyudmila Korotkevich, are programmers in the mathematics department at Francysk Skaryna Homiel State University. At age 6, he became interested in his parent's work. When he was 8, his father designed a children's game he could use to learn programming.[7]
      
                  His mother consulted departmental colleague Mikhail Dolinsky, who gave the boy a small book to read. Dolinsky, one of the top computer science teachers in Belarus, recalled, "A month went by, and then another one ... No news from Gena. Then suddenly Lyudmila comes by and brings me a programming notebook: when summer and football were over, her son sat at the computer. As a second grader at a national competition, he took second place, which gained him automatic entry in a technical university without taking any entrance exams. Somehow he solved the problem of a body immersed in water. At that time, Gena didn't even know about Archimedes' principle of buoyancy."[7]
                  
                  Korotkevich first grabbed global attention when he qualified for the 2006 International Olympiad in Informatics (IOI) at the age of 11, which itself is a world record by a large margin.[8]
                  
                  He took the silver medal at his first IOI event, and received gold medals 2007 to 2012. To date he is the most successful competitor in IOI's history.[9]
                  
                  At the 2009 IOI in Plovdiv, the then 14-year-old Korotkevich said of his success, "I try various [strategies], and one of them is the right one. I am no genius. I am simply good at it." He said he spent no more than three to four hours each day at the computer, and his preferred hobbies are football and table tennis.[10]
                  
                  In the fall of 2012, he moved to Russia to attend ITMO University. In the summer of 2013, he helped ITMO defeat Shanghai Jiao Tong University and the University of Tokyo to win the 37th International Collegiate Programming Contest World Finals, held in Saint Petersburg.[11] He also won the Google Code Jam in 2014, 2015, 2016, 2017 and 2018.
                  
                  In a 2014 interview, Korotkevich said he was unsure of his career plans after graduation. "What happens next is yet to be decided," he said. "I don't have any concrete or long-term plans. I've only finished my sophomore year at university. For me it's important to get an education first and then decide about working. Maybe I'll go into science. But again, I really have not decided yet."[8]
                  
                  In a 2017 interview, Korotkevich said "I've gotten job offers from Google and Yandex several times, but didn't take them... I am getting a Masters in Computer Science at ITMO, afterward I think that's what I'll do. (sic)" [12]
            </div>
              <div class="myinfo">
                     <h3 style="text-align:center;"> Gennady Korotkevich</h3>
                     <div id="photo">
                     <img src="/public/image/gk.jpg" width="200px" height="200px" alt="MY photo"/>
                     </div>
                     <p><b>Born</b>&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;25 September 1994 (age 25) </p>
                    
                     <p><b>Residence </b>&nbsp;&nbsp;Saint Petersburg, Russia</p>
                 
                     <p><b>Education</b> &nbsp;&nbsp;ITMO University</p>
                  </div>
              
           <div class="links">
                 <h3  style="text-align:center;"> Other Profile Links</h3>
                  <a href="https://codeforces.com/profile/tourist" target="_blank">
                  <img src="/public/image/codeforces.png" width="100px" height="50px" style="margin-left:20%;">
                  <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">
                      <img src="/public/image/gmail.png" width="100px" height="50px" style="margin-left:20%;">
                      <a href="https://www.hackerearth.com/@gennady" target="_blank" >
                          <img src="/public/image/hackerearth.png" width="100px" height="50px " style="margin-left:20%;">
              </a>
           </div>
             
              
            </div>
            <div class="achievement">
                  <h3  style="text-align:center;"> Achievement</h3>
                     <ul>
                         <li> Facebook Hacker Cup: 2014, 2015 winner</li>
                       <li>  Topcoder Open: 2018 Marathon Match Champion, 2014 Algorithm Champion</li> 
                       <li>Google Code Jam: 2014 ,2015, 2016 , 2017  and 2018 winner</li>
                      <li> Yandex.Algorithm: 2010 2013, 2014,2015 winner and 2017 winner</li>
                   <li> Russian Code Cup (by Mail.Ru Group): 2016 winner, 2015 runner-up, 2014 winner, 2013 runner-up</li>
                  <li>ACM-ICPC World Finals: 2013 winner (team)  and 2015 winner</li>
                 <li> Kotlin Challenge: 2014 winner</li>
                  <li> International Olympiad in Informatics: He won absolute first place in 2009, 2010, 2011; 
                      a gold medal in 2007 (20th place), 2008 (7th place)[36] and 2012 (2nd place).;
                       a silver medal in 2006 (26th place).[39] Currently he holds the record for quantity of gold medals(six
                       ) and absolute first places (three).</li>
                     </ul>
            </div>
      
      
            
</body>
</html>